#work-should-not-hurt-header {
    background-image: url('../../public/programmes/wsnh/header-background-mobile.jpg');
    background-size: cover;
    background-position: center;
    @media screen and (min-width: 1024px) {
        background-image: url('../../public/programmes/wsnh/header-background.jpg');
    }
}

.header-block-box {
    width: 100%;
    @media screen and (min-width: 1024px) {
        width: calc(100vw - 35%);
    }
}

.trades-list {
    span {
        opacity: 0;
        transition: 150ms ease;
        transform: translateX(-10px);
    }
    li:hover {
        a {
            color: var(--primary-colour);
            border-color: var(--primary-colour)!important;
        }
        span {
            opacity: 1;
            transition: 150ms ease;
            transform: translateX(0px);
        }
    }
}