@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    --primary-colour: #4FBF4B;
    --text-colour: #1C242E;
    --totika-blue: #14A5B9;
    --leadon-orange: #FF6600;
    --dark-blue: #1C242E;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar width */
  height: 0; /* Remove scrollbar height */
  display: none; /* Hide scrollbar */
}

/* For Firefox */
/* Note: This will not work in WebKit-based browsers */
/* You can use the scrollbar-width property in Firefox but it's not widely supported */
/* This is a workaround */
html {
  scrollbar-width: none; /* Remove scrollbar width */
  scroll-behavior: smooth;
  overflow-x: hidden!important
}


body::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar width */
  height: 0; /* Remove scrollbar height */
  display: none; /* Hide scrollbar */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.8px;
}

body {
  font-size: 16px;
  background-color: white;
  overflow-x: hidden!important;
}
p {
  line-height: 1.7rem;
  font-size: 16px;
  letter-spacing: -0.3px;
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.8;
  }
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 16px;
  @media screen and (min-width: 768px) {
    padding: 0px 64px;
  }
  @media screen and (min-width: 1080px) {
    padding: 0px 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 32px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0px 0px;
  }
}
.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 16px;
  @media screen and (min-width: 768px) {
    padding: 0px 64px;
  }
  @media screen and (min-width: 1080px) {
    padding: 0px 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 32px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0px 0px;
  }
}

.mobile-nav-dropdown {
  transform: translateY(-100vh);
  transition: 100ms ease;
  opacity: 0;
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.programmes-header {
  width: 100%;
  height: calc(100vh - 25rem);
  position: relative;
  overflow: hidden;
  color: #fff;
  min-height: 400px;
  @media screen and (min-width: 1024px) {
    height: calc(100vh - 16rem);
    max-height: 760px;
  }
}

.header-gradient {
  &::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  }
}

.home-header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: #fff;
  background-image: url('../public/home/header-bg.jpg');
  background-size: cover;
  background-position: bottom;
  max-height: 800px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    //background: rgba(122, 188, 37, 1);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
    //mix-blend-mode: multiply;
  }
}

#myVideo {
  max-width: none;
  min-width: 100%;
  width: 177.778vh;
  height: 56.25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  border: 0;
  transform: translate(-50%,-50%);
}
.introduction-video {
  height: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
}

.header-text {
  width: 100%;
} /* Center the text inside the div */

.dropdown-menu {
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  height: auto;
  visibility: hidden;
  overflow: hidden;
  line-height: 1.5;
  opacity: 0;
  top: 90px;
}

.navigation-backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 19;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.mega-menu_right_list_items {
  min-width: 250px;
}

#navigation-programmes:hover {
  .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}

#navigation-resources:hover {
  .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}

#navigation-about:hover {
  .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}

#navigation-events:hover {
  .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}

.navigation-right .navigation-toggle{
  padding: 24px 32px;
}

// .logo-hover {
//   svg,
//   g,
//   path {
//     fill: black;
//     color: black;
//     fill-opacity: 1;
//   }
// }

.subscribe {
  background-image: url('../public/subscribe-background.jpg');
  background-size: cover;
  background-position: center;
}

.no-hover-effect .dropdown-menu {
  opacity: 0 !important; /* Force opacity to 0 */
  visibility: hidden !important; /* Force visibility to hidden */
}

.scroll-bar::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
  visibility: hidden;
}

.scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-bar {
  background: white;
}

.navigation-toggle:hover ~ .navigation-search .search-bar {
  background: rgb(243, 243, 243)!important;
}

.video-player-responsive {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-player-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.constructsafe-video-player {
  position: relative;
  width: 100%;
  padding-top: 56.5%; /* 16:9 Aspect Ratio */
  @media screen and (min-width: 768px) {
    padding-top: 35.5%;
  }
}

.constructsafe-video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about-header {
  background-image: url('../public/about/header-image-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
      background-image: url('../public/about/header-image.jpg');
      background-position: center;
  }
}

#energy-wheel-header {
  background-image: url('../public/energy-wheel/header-image-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
      background-image: url('../public/energy-wheel/header-image.jpg');
      background-position: top;
  }
}

.bio-content p{
  line-height: 1.8rem;
  font-size: 16px;
  @media screen and (min-width: 1280px) {
    font-size: 15px;
  }
}

.dropdown-toggle {
  opacity: 1;
    visibility: visible;
  transform: translateY(10px);
  @media screen and (min-width: 600px) {
    opacity: 0;
    visibility: hidden;
  }
}

.member-image:hover {
  .dropdown-toggle {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.post-content {
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 24px;
  }
  li {
    font-size: 16px;
    list-style: disc;
    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }
  a {
    color: var(--primary-colour);
  }
  .resource-button {
      color: white!important;
  }
  .hubspot-button-cta {
    background: var(--primary-colour);
    color: white;
    text-align: center;
    padding: 12px 24px;
    border-radius: 100px;
    font-size: 14px;
    }
}

#events-header {
  background-size: cover;
  background-image: url('../public/events/events-header.jpg');
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
      background-image: url('../public/events/events-header.jpg');
      background-position: center;
  }
}
.event-card-image {
 img {
  transition: 200ms ease;
 }
}
.event-card:hover {
  .event-card-image {
    img {
      scale: 1.1;
    }
  }
}

.event-information {
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 2;
  }
}

.right-col {
  position: sticky;
  top: 20px; /* Adjust this to fit your header or nav height */
  align-self: flex-start; /* Helps in starting from the top of the flex container */
  height: fit-content; /* Important to ensure the height does not stretch */
}

.draw-content {
  max-height: calc(100vh - 4rem);
  @media screen and (min-width: 1024px) {
    max-height: 100%;
  }
}

.home-introduction-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(420px,1fr));
  gap: 24px;
  img {
    object-fit: cover;
    width: 100%;
    border-radius: 6px;
  }
}

.national-reach {
  height: 500px;
  position: relative;
  background-image: url('../public/home/national-reach.jpg');
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 768px) {
    height: 750px;
  }
  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   height: 400px;
  //   background: rgb(0,0,0);
  //   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  // }
}

.general-resources {
  height: 500px;
  background-image: url('../public/common/resource-background-image.jpg');
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 768px) {
    height: calc(100vh - 16rem);
  }
}


.resource-button {
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  background: var(--primary-colour);
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 999px;
  text-align: center;
  align-self: start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.aboutus-banner {
  background-image: url('../public/home/aboutus-bg.jpg');
  background-size: cover;
  background-position: center;
}

#data-tools-header {
  background-image: url('../public/data-tools/data-tools-header-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/data-tools/data-tools-header-image.jpg');
      background-position: center;
  }
}

#whakatipu-header {
  background-image: url('../public/data-tools/whakatipu-header-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/data-tools/whakatipu-header-image.jpg');
      background-position: center;
  }
}

#whakatipu-support {
  background-image: url('../public/data-tools/support-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/data-tools/support-bg.jpg');
      background-position: center;
  }
}

#measuring-health-and-safety-header {
  background-image: url('../public/data-tools/measuring-health-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/data-tools/measuring-health-header.jpg');
      background-position: center;
  }
}


#analysis-insights-header {
  background-image: url('../public/data-tools/analysis-and-insights-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/data-tools/analysis-and-insights-header.jpg');
      background-position: center;
  }
}

#news-header {
  background-image: url('../public/common/news-header-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/common/news-header.jpg');
      background-position: center;
  }
}

.events-background {
  background-image: url('../public/events/events-header-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/events/events-header.jpg');
      background-position: top;
  }
}

.resource-header-background {
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  @media screen and (min-width: 1024px) {
    background-size: 115%;
    background-position: center;
  }
}

#contact-header {
  background-image: url('../public/common/contact-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 1024px) {
    background-image: url('../public/common/contact-header.jpg');
    background-position: top;
  }
}


#email-da52cfc3-874f-491c-b773-e2b7baaee5c9 {
  background-color: white;
  border: 2px solid #e2e2e2;
  padding: 8px 24px;
  border-radius: 100px;
}

#hsForm_da52cfc3-874f-491c-b773-e2b7baaee5c9 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .hs-error-msgs {
    color: red;
    font-size: 14px;
  }
  input::placeholder {
    font-size: 14px;
    font-weight: 400;
  }
  .actions {
    input {
      color: var(--primary-colour);
    }
  }
}

.consent-form-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 9999;
}

.resource-consent-form {
  margin-top: 24px;
  input {
    padding: 10px 18px;
    border-radius: 100px;
    border: 1px solid #EBEBEB;
    outline: none;
    width: 100%;
    &::placeholder {
      font-size: 14px;
    }
  }
  span {
    font-size: 14px;
  }
  .hs-button {
    background-color: var(--primary-colour);
    color: white;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
  }
  #hsForm_101a34c4-946e-4e05-97d3-38e5bc390465 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #hsForm_78b53e0a-b49b-4c2c-a8f6-40025faaebc5 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .hs-error-msg {
    font-size: 12px;
    color: red;
  }
}

.green-filter .toggle-icon {
  filter: invert(56%) sepia(100%) saturate(500%) hue-rotate(90deg) brightness(90%) contrast(85%);
}

.resource-page-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}